{
  "clangd.path": "$HOME/.local/lib/clangd_18.1.3/bin/clangd",
  "clangd.arguments": ["--background-index", "--clang-tidy"],
  "inlayHint.enable": false,
  "suggest.enableFloat": false,
  "hover.floatConfig": {
    "border": true,
    "borderhighlight": "Comment"
  },
  "signature.floatConfig": {
    "border": true,
    "borderhighlight": "Comment"
  },
  "diagnostic.floatConfig": {
    "border": true,
    "borderhighlight": "Comment"
  }
}
